
<html>
<head>
  <title>Lista de Drones</title>
</head>
<body class="list-page"> 
  <h1>Drone List</h1>
  <ul>
    {{#each drones}}
    <br>
    <br>
      <li>
        <p>Name: {{name}}</p>
        <p>Propellers: {{propellers}}</p>
        <p>MaxSpeed: {{maxSpeed}}</p>
        <br>
        <a href="/drones/{{_id}}/edit">Edit</a>
        <br>
        <br>
         <form action="/drones/{{_id}}/delete" method="POST">
        <button type="submit">Delete</button>
      </form>
      </li>
    {{/each}}
  </ul>
</body>
</html>